doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href="https://fonts.googleapis.com/css?family=Lato|Quicksand|Roboto|Source+Sans+Pro" rel="stylesheet")
    link(rel='stylesheet', href='style.css')
    title #AnkkaStream
  body
    #containter
      header
        #header-text
          | #AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream#AnkkaStream
      #stream
        canvas#stream-canvas
      #duck-info
        .duck
          h2 Posankka
          .info
            | Mosquiton sisarankka Posankka on ankoista oranssinokkaisempi ja vähän vaaleahöyhenisempi.
          .infotable
            div
              label Syntynyt
              span.data 14.1.2017
            div
              label Synnyinpaikka
              span.data Loimaa
        .duck
          h2 Mosquito
          .info
            | (Mosquito Jummi Poro Trangia Pihlaja)
            br
            | Mosquito on nimetty Lapin retkeilyluonnon ja ankkejen muuttolaatikonpitäjän mukaan.
            br
            | Nimestään huolimatta hän on Posankan tapaan erittäin rakas ankke.
          .infotable
            div
              label Syntynyt
              span.data 14.1.2017
            div
              label Synnyinpaikka
              span.data Loimaa
      #twitter
            each tweet in statuses
                .tweet
                  .user
                    img(src=tweet.user.profile_image_url)
                    label.username= tweet.user.name
                    label.nametag= "@"+tweet.user.screen_name
                  .text!= tweet.text
                  .created-at= tweet.created_at
        
      #info
        | Jos ankkojen hyvinvointi huolestuttaa, ota yhteyttä omistajaan: 
        email joel.jotain[at]gmail.com

      script(type="text/javascript" src="jsmpeg.min.js")
      script(type="text/javascript" src="streamer.js")